<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="login-form">
            {% csrf_token %}
            <div class="mb-3">
              <label for="id_email" class="form-label">Email</label>
              <input type="email" class="form-control" id="id_email" required>
            </div>
            <div class="mb-3">
              <label for="id_password" class="form-label">Password</label>
              <input type="password" class="form-control" id="id_password" required>
            </div>
            <button type="button" id="btn-login" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  